.container {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  // animation: slideInFromBottom 2s ease;
  // animation: hoverEffect ease 4s infinite;

  &__title {
    text-transform: uppercase;
  }

  &__bill {
    background: $white;
    border-radius: 10px;
    max-width: 700px;

    @include breakpoint-down(small) {
      max-width: 300px;
    }
  }

  .container__section {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint-down(small) {
      flex-direction: column;
    }
  }

  &__math {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em;

    @include breakpoint-down(small) {
      padding: 2em;
    }
  }

  &__area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.tip-section {
  @include breakpoint-down(small) {
    width: 100%;
  }
  & button {
    background: $veryDarkCyan;
    color: $white;
    border: none;
    width: 65px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px 1px;
    cursor: pointer;
    transition: ease-in-out;

    &:active {
      background: #003639;
      transform: translateY(1px);
    }

    @include breakpoint-down(small) {
      width: 80px;
    }

    &.fifteen {
      background: $strongCyan;
      color: $veryDarkCyan;

      &:active {
        background: #1e9d8c;
        transform: translateY(1px);
      }
    }
  }
}

.custom {
  background: $lightGrayishCyan !important;
  color: $darkGrayishCyan !important;
}

.bill-label,
.tip-title,
.people {
  font-size: 12px;
  color: $darkGrayishCyan;
  font-weight: 700;
}
